body {
    background-color: rgb(187, 180, 180);
	font-family: 'Times New Roman', Times, serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: rgb(10, 20, 32);
	color: #fff;
	padding: 10px;
	text-align: center;
    letter-spacing: 2px;;
}
.height{

    height: 100vh;
}

.form{

    position: relative;
}

.form .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form span{

        position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   
   padding-left: 10px;
}

.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
  
    
